header, footer{
    border: 3px solid  rgb(168, 0, 11);
    background-color: rgb(168, 0, 11);
    display: flex;
    padding: 20px;
    border-radius: 15px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

footer{
    
}

nav a {
    background-color: #000d3d;
    padding: 10px;
    border-radius: 10px;
}

body{
    background-color: #e9e6df;
}

li{
    list-style: none;
    margin: 5px;
}

a{
    text-decoration: none;
    color: rgb(219, 219, 219);
}

button{
    height:30px;
    background-color: rgba(47, 0, 0, 0.537);
    color: wheat;
    font-weight: 500;
    border-radius: 8px;
    border: none;
}

button:hover{
    background-color: rgba(0, 8, 119, 0.8);
}

.chast{
    background-color: rgb(255, 208, 121);
    color: black;
    margin: 10px;
    padding: 5px;
    display: flex;
    border-radius: 5px;
}
ul{
    display: flex;
    flex-wrap: wrap;
}

h1{
    margin: 10px;
    color: brown ;
}