li{
    margin: 0;
    list-style: none;
    font-weight:700;
    text-align: center;
    background-color:  wheat;
    border: 1px solid rgb(150, 150, 150);
    border-left: 4px solid rgb(150, 150, 150);
    border-right: 4px solid rgb(150, 150, 150);
    padding: 10px;
    width: 150px;
}

li:hover{
    background-color: rgb(83, 83, 255);
    color: white;
}

a{
    text-decoration: none;
}